<form action="/login" method="POST">
          <input class="nav-item" type="text" name="username" placeholder="username">
          <button class="nav-item btn btn-primary">Login</button>
        </form>
        <form action="/login" method="POST">
          <input class="nav-item" type="text" name="username" placeholder="username">
          <button class="nav-item btn btn-primary">Login</button>
